<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
    </head>
    <body>
       <h1>Home Page {{name}}</h1>
       <p>Node JS Developer course by Andrew Mead</p>
       {{> footer}}
    </body>
</html>